.version {
  position: absolute;
  right: 20px;
  display: flex;
  column-gap: 5px;
  font-size: 10px;
  color: #c0c0c0;
  align-items: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}
