.result_field {
  background: white;
  color: black;
  border: none;
  font-weight: 600;
  text-align: right;
  height: 27px;
  font-size: 20px;
  width: 180px;
}

.name_and_result {
  display: flex;
  font-size: 15px;
  border: 2px solid gray;
  width: fit-content;
}

.result_name {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  width: 70px;
  text-align: left;
  padding-left: 10px;
}
