.page-header {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-left: 7px;
  padding-right: 7px;
  background: #c2c2c2;
}

.icon {
  cursor: pointer;
  width: 26px;
  height: 26px;
}

.page-title {
  font-size: 20px;
  color: #515151;
  font-weight: bold;
}
