.page-header {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: #c2c2c2;
}

.icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  -webkit-tap-highlight-color: transparent;

  border-radius: 5px;
  padding: 7.5px;

  &:active {
    background-color: #a4a4a4;

    path {
      fill: #3f3434;
    }
  }
}

.page-title {
  font-size: 20px;
  color: #515151;
  font-weight: bold;
}
